<div class="container-fluid page-dashboard">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
    </div>
        
    <div class="row">
        <div class="col-lg-3 col-xsm-6">
            <div class="panel panel-box">
                <div class="panel-top">
                    <i class="material-icons color-success">developer_board</i>
                </div>
                <div class="panel-info">
                    <span data-translate="REGISTERED DEVICES" class="ng-scope">REGISTERED DEVICES</span>
                </div>
                <div class="panel-bottom bg-light">
                    <span class="ng-binding">91</span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xsm-6">
            <div class="panel panel-box">
                <div class="panel-top">
                    <i class="material-icons color-success">developer_board</i>
                </div>
                <div class="panel-info">
                    <span data-translate="REGISTERED DEVICES" class="ng-scope">REGISTERED DEVICES</span>
                </div>
                <div class="panel-bottom bg-light">
                    <span class="ng-binding">91</span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xsm-6">
            <div class="panel panel-box">
                <div class="panel-top">
                    <i class="material-icons color-success">developer_board</i>
                </div>
                <div class="panel-info">
                    <span data-translate="REGISTERED DEVICES" class="ng-scope">REGISTERED DEVICES</span>
                </div>
                <div class="panel-bottom bg-light">
                    <span class="ng-binding">91</span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xsm-6">
            <div class="panel panel-box">
                <div class="panel-top">
                    <i class="material-icons color-danger">place</i>
                </div>
                <div class="panel-info">
                    <span data-translate="REGISTERED DEVICES" class="ng-scope">REGISTERED DEVICES</span>
                </div>
                <div class="panel-bottom bg-light">
                    <span class="ng-binding">91</span>
                </div>
            </div>
        </div>
        
    </div>
    <div class="row">
        <div class="col-xs-3">
            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Simple collapsible</button>
            <div id="demo" class="collapse in">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-12">
            <h4 class="page-header">Charts</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default" style="padding-right:30px;">
                <div class="panel-body">
                    <div data-echarts data-options="option" style="height: 300px;"></div>
                    
                </div>
            </div>
        </div>
    </div>
    
<div>